## Map the incidence of Covid in Georgia
Create a simple chloropleth using the New York Times data on covid cases by county

In [1]:
import os
import geopandas as gpd
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
# Read in data from the New York Times github page
url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
county_cases = pd.read_csv(url)

In [27]:
# Create a graph showing the number of cases over time for Clarke, Oconee, Madison, Barrow, and Jackson counties
# Note that the cases variable is cumulative and not new cases
home_cases = county_cases[county_cases.county.isin(['Clarke', 'Oconee', 'Madison', 'Barrow', 'Jackson']) & (county_cases.state == 'Georgia')]

In [29]:
home_cases.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths      int64
dtype: object

In [3]:
# Read in county boundaries
os.chdir("/mnt/c/Users/dougj/Documents/Data/US shapefiles/US_County_Boundaries")
county_bdr = gpd.read_file("US_County_Boundaries.shp")

In [14]:
# Merge the two datasets and then restrict to 
county_bdr[county_bdr.COUNTY =='Clarke']

,STFIPS,CTFIPS,STATE,COUNTY,VERSION,Shape_Leng,Shape_Area,geometry
724,19,19039,Iowa,Clarke,05,1.438272,0.119721,"POLYGON ((-94.01419 41.15676, -94.00813 41.156..."
2414,13,13059,Georgia,Clarke,05,0.915442,0.030637,"POLYGON ((-83.27556 33.84811, -83.27613 33.848..."
2550,28,28023,Mississippi,Clarke,05,1.660566,0.171477,"POLYGON ((-88.91046 31.82665, -88.91043 31.839..."
2562,01,01025,Alabama,Clarke,05,3.785327,0.308542,"POLYGON ((-87.76515 31.29735, -87.76522 31.296..."
2694,51,51043,Virginia,Clarke,05,1.039493,0.048063,"POLYGON ((-78.00417 38.97948, -78.00467 38.979..."

In [15]:
county_cases[county_cases.county =='Clarke']

             date  county        state     fips  cases  deaths
2406   2020-03-15  Clarke      Georgia  13059.0      2       0
2843   2020-03-16  Clarke      Georgia  13059.0      3       0
3328   2020-03-17  Clarke      Georgia  13059.0      3       0
3888   2020-03-18  Clarke      Georgia  13059.0      4       0
4558   2020-03-19  Clarke      Georgia  13059.0      7       0
5340   2020-03-20  Clarke      Georgia  13059.0      9       0
6273   2020-03-21  Clarke      Georgia  13059.0      9       0
7317   2020-03-22  Clarke      Georgia  13059.0     10       0
8465   2020-03-23  Clarke      Georgia  13059.0     14       0
9716   2020-03-24  Clarke      Georgia  13059.0     17       0
11093  2020-03-25  Clarke      Georgia  13059.0     21       0
12649  2020-03-26  Clarke      Georgia  13059.0     29       0
14332  2020-03-27  Clarke      Georgia  13059.0     34       2
16129  2020-03-28  Clarke      Georgia  13059.0     35       2
16723  2020-03-28  Clarke  Mississippi  28023.0      1       0
18038  2020-03-29  Clarke      Georgia  13059.0     35       2
18657  2020-03-29  Clarke  Mississippi  28023.0      1       0
20037  2020-03-30  Clarke      Georgia  13059.0     47       5
20694  2020-03-30  Clarke  Mississippi  28023.0      1       0